<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>243860568975-dc5mnedol26g5aesr39tm5k2tpnlu8kd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.243860568975-dc5mnedol26g5aesr39tm5k2tpnlu8kd</string>
	<key>API_KEY</key>
	<string>AIzaSyDW4KgRUxPg8lKNbOc9z_-7HciTqmunLuw</string>
	<key>GCM_SENDER_ID</key>
	<string>243860568975</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.treasury</string>
	<key>PROJECT_ID</key>
	<string>treasury-v1</string>
	<key>STORAGE_BUCKET</key>
	<string>treasury-v1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:243860568975:ios:aa9ce65242e116362429fa</string>
</dict>
</plist>